@charset "UTF-8";
/* CSS Document */

body {  /* Body and background image DIV */
	background-image: url(../images/bg_slice.jpg);
	background-repeat: repeat-x;
}

#logo {  /* Logo DIV */
	position:absolute;
	width:226px;
	height:69px;
	z-index:1;
	top: 0px;
	left: 0px;
}

#arrows {  /* Arrows DIV */
	position:absolute;
	width:132px;
	height:69px;
	z-index:2;
	left: 226px;
	top: 0px;
}

#hello {  /* Hello (user) DIV */
	position:absolute;
	width:230px;
	z-index:4;
	right:0px;
	top: 5px;
}
	  /* Text styling starts */

.bodytext {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #505050;	line-height: 21px;}  /* bodytext, most used style */

.bodytext_table {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #505050;	line-height: 21px; padding: 2px 10px 2px 10px}  /* table's bodytext */

.title_table {	font-family: Arial, Helvetica, sans-serif;	font-size: 14px;	color: #FFFFFF;	line-height: 21px; padding: 2px 10px 2px 10px; background-image: url(../images/table_bg.jpg);}  /* table's titles */

.bodytext_paragraph {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #505050;	line-height: 21px;	padding: 10px 10px 10px 25px;}  /* paragraph bodytext */

.bodytext_fieldstitle {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #FFFFFF;	line-height: 21px;	padding: 5px 10px 5px 10px;}  /* bodytext in fields */



a:link  {	text-decoration: none;	font-weight: bold;	color: #006699;}  /* normal link */

a:visited, a:active {	text-decoration: none;	font-weight: bold;	color: #006699;}  /* normal link */

a:hover {text-decoration: underline;	font-weight: bold;	color: #000000;}  /* hover link */

.class2 a:link {	color: #FFFFFF;	font-family: Arial,Helvetica,sans-serif;font-weight: bold;	text-decoration: none; }  /* second link, different colors  */

.class2 a:visited, a:active {color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-weight:bold;text-decoration:none;}  /* second link, different colors  */

.class2 a:hover {color:#5DD5FF;font-family:Arial,Helvetica,sans-serif;font-weight:bold;text-decoration:underline;}  /* second hover link, different colors  */



.navigation a:link {color: #FFFFFF;	font-weight: bold;	padding-left: 10px;	line-height: 26px;}  /* navigation link, different colors  */

.navigation a:visited {	color: #FFFFFF;	font-weight: bold;	padding-left: 10px;	line-height: 26px;}  /* navigation link, different colors  */

.navigation a:hover {color: #34cbff;	font-weight: bold;	padding-left: 10px;	line-height: 26px;}  /* navigation hover link, different colors  */

.navigation a:active {color: #FFFFFF;	font-weight: bold;	padding-left: 10px;	line-height: 26px;}  /* navigation link, different colors  */



.toplinks {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #006699;	line-height: 20px;}  /* top links, different colors  */



.fields {	color: #777777;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	padding: 10px;	background-color: #FFFFFF;	border: 1px solid #dedbd1;	margin-bottom: 5px;}  /* fields style  */

.search {	color: #777777;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	padding: 2px;	background-color: #FFFFFF;	border: 1px solid #dedbd1; }  /* search style  */

.button {	color: #FFFFFF;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	padding: 5px;	background-color: #999999;	border: 1px solid #888888; }  /* button style  */



h1,h2,h3,h4,h5,h6 {	font-family: Arial, Helvetica, sans-serif;}

h1 {	font-size: 26px;	color: #006699;	padding: 0 0 0 25px;	letter-spacing: -1px;}

h2 {	font-size: 25px;	color: #006699;	padding: 10px 10px 10px 25px;	letter-spacing: -0.5px;}

h3 {	font-size: 16px;	color: #006699;	padding: 10px 10px 10px 25px;	letter-spacing: -0.5px;}



.calendartitle {color: #FFFFFF}  /* calendar's weekdays   */

.success {color: #003300}  /* succes style  */

.toptip {color: #c18800}  /* toptip style  */

.error {color: #990000}  /* error style  */



.instructions {	font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	font-style: italic;	color: #999999;	margin-top: 5px;}  /* instructions style  */

.copyright {color: #CCCCCC}  /* copyright style  */

.tabletitles {	font-size: 13px;	color: #FFFFFF;}  /* table's title style on table.html */

  /* Text styling ends */
  
  
  
  

  /* Header big buttons starts */

#visitsite {  /* Visit site DIV */
	position:absolute;
	width:100px;
	height:69px;
	z-index:8;
	left: 581px;
	top: 0px;
	background-color: #f4f4f4;
}

#visitsite_icon {  /* Visit site icon DIV */
	position:absolute;
	width:99px;
	height:29px;
	z-index:6;
	top: 13px;
	left: 0px;
}

#users {  /* Users DIV */
	position:absolute;
	width:100px;
	height:69px;
	z-index:9;
	left: 686px;
	top: 0px;
	background-color: #F4F4F4;
}

#users_icon {  /* Users icon DIV */
	position:absolute;
	width:99px;
	height:32px;
	z-index:6;
	top: 12px;
	left: 0px;
}

#settings {  /* Settings DIV */
	position:absolute;
	width:100px;
	height:69px;
	z-index:10;
	left: 790px;
	top: 0px;
	background-color: #F4F4F4;
}

#settings_icon {  /* Settings icon DIV */	
	position:absolute;
	width:99px;
	height:32px;
	z-index:6;
	top: 13px;
	left: 0px;
}

#logout {  /* LogoutDIV */
	position:absolute;
	width:100px;
	height:69px;
	z-index:11;
	left: 894px;
	top: 0px;
	background-color: #F4F4F4;
}

#logout_icon {	  /* Logout icon DIV */
	position:absolute;
	width:99px;
	height:32px;
	z-index:6;
	top: 13px;
	left: 0px;
}
  /* Header big buttons ends */
  
  
#dropdown {	  /* Hello (user) dropdown DIV */
	position:absolute;
	width:204px;
	height:27px;
	z-index:16;
	left: 368px;
	top: 40px;
	padding:0 0 0 100px;
}
#dropdown img{
	float:left;
	margin:0 0 0 15px;
}
#leftcolumn {	  /* Leftcolumn */
	position:absolute;
	width:225px;
	height:800px;
	z-index:12;
	background:#006699;
	left: 0px;
	top: 69px;
}

#tabletmenu {	  /* Tabbet interface */
	position:absolute;
	width:230px;
	height:557px;
	z-index:15;
	left: 768px;
	top: 362px;
}

#navigation {	  /* Navigation */
	position:absolute;
	width:167px;
	height:53px;
	z-index:1;
	/* top: 10px; */
}
#navigation strong{
	float:left;
	margin:0 0 0 20px;
	font-size:16px;
}
#navigationtitle {	  /* main navigation title and links */
	position:absolute;
	width:225px;
	min-height: 284px;
	z-index:1;
	left: 0px;
	/* top: 14px; */
}

#calendar {	  /* calendar */
	position:absolute;
	width:203px;
	height:110px;
	z-index:1;
	top: 663px;
}

#calendartitle {	  /* calendar title and content*/
	position:absolute;
	width:179px;
	height:331px;
	z-index:1;
	left: 22px;
	top: 14px;
}

#latest {	  /* Latest articles */
	position:absolute;
	width:187px;
	height:53px;
	z-index:1;
	top: 332px;
}

#latestitle {	  /* latest articles title and content */
	position:absolute;
	width:181px;
	height:28px;
	z-index:1;
	left: 22px;
	top: 14px;
}

#submenu {  /* Horisontal submenu */
	position:absolute;
	height:26px;
	z-index:5;
	left: 300px;
	top: 73px;
	right:0px;
}

#content {	  /* Content */
	position:absolute;
	z-index:14;
	top: 110px;
	right:0px;
}
#content table th{
	background:#006699;
	padding:5px;
	color:#FFF;
}
#positive {	  /* Positive message DIV */
	position:absolute;
	width:489px;
	height:45px;
	z-index:16;
	left: 25px;
	background-color: #c8ffa4;
	top: 340px;
	border: 1px solid #348300;
}

#negative {	  /* Negative message DIV */
	position:absolute;
	width:491px;
	height:45px;
	z-index:16;
	left: 25px;
	top: 400px;
	background-color: #ffa4aa;
	border: 1px solid #800000;
}

#tip {	  /* Tip message DIV */
	position:absolute;
	width:491px;
	height:45px;
	z-index:16;
	left: 25px;
	top: 457px;
	background-color: #FFFF66;
	border: 1px solid #c18800;
}

#formtitle {  /* small field title*/
	position:absolute;
	width:111px;
	height:20px;
	z-index:16;
	left: 25px;
	top: 534px;
	background-image: url(../images/table_bg.jpg);
}

#small {  /* Small field */
	position:absolute;
	width:495px;
	height:38px;
	z-index:16;
	left: 24px;
	top: 564px;
}

#fieldmedium {  /* medium field title*/
	position:absolute;
	width:130px;
	height:20px;
	z-index:17;
	left: 25px;
	top: 646px;
	background-image: url(../images/table_bg.jpg);
}

#medium {  /* medium field */
	position:absolute;
	width:495px;
	height:44px;
	z-index:16;
	left: 24px;
	top: 676px;
}

#fieldlarge {  /* large field title*/
	position:absolute;
	width:130px;
	height:20px;
	z-index:16;
	top: 755px;
	background-image: url(../images/table_bg.jpg);
	left: 25px;
}

#large {  /* large field */
	position:absolute;
	width:497px;
	height:42px;
	z-index:16;
	left: 24px;
	top: 785px;
}

#yourmessage {  /* Your message field title*/
	position:absolute;
	width:130px;
	height:20px;
	z-index:16;
	left: 25px;
	top: 873px;
	background-image: url(../images/table_bg.jpg);
}

#message {	  /* Message */
	position:absolute;
	width:504px;
	height:115px;
	z-index:16;
	left: 24px;
	top: 903px;
}

#searchbox {	  /* Searchbox */
	position:absolute;
	width:184px;
	height:29px;
	z-index:17;
	left: 768px;
	top: 75px;
}

#tables {	  /* Tables */
	position:absolute;
	width:735px;
	z-index:18;
	left: 26px;
	top: 0px;
}




/* Drop down menu styles starts */

#jsddm
{	margin: 0;
	padding: 0}
#jsddm a
{
	margin:0px 5px;
}
#jsddm li
{	float: left;
	list-style: none;
	font: 12px Arial, Arial}

#jsddm li a
{	display: block;
	background: #478da4;
	padding: 2px 5px;
	text-decoration: none;
	width: 190px;
	color: #FFFFFF;
	white-space: nowrap
}

#jsddm li a:hover
{	background: #478da4}

#jsddm li ul
{	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}

#jsddm li ul li
{	float: none;
	display: inline
}

#jsddm li ul li a
{	width: auto;
	background: #346575;
	padding: 5px 21px 5px 8px;
	color: #FFFFFF
}

#jsddm li ul li a:hover
{	background: #478da4;
color: #FFFFFF}
				
/* Drop down menu styles ends */




/************************************
            By Dan Harper
        http://www.danharper.me

           For NETTUTS.com

     Check out http://vivawp.com
************************************/

* {
	margin: 0;
	padding: 0;
}

.widget {
	width: 220px;
	padding: 5px 5px 5px 5px;
	background: #317F98;
	border: 1px solid #dedbd1;
	margin-bottom: 15px;
}

.widget a {
	color: #FFF;
	text-decoration: none;
}

.widget a:hover {
	color: #FFF;
	text-decoration: underline;
}

.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
}

.tabnav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;
	padding: 5px 5px;
	outline: none;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
	color: #5dd5ff;
	text-decoration: underline;
}

.tabdiv {
	background: #FFFFFF;
	padding: 15px;
}

.tabdiv li {
	list-style-image: url("css/star.html");
	margin-left: 20px;
}

.ui-tabs-hide {
	display: none;
}

#featuredvid {
	text-align: center;
}

.fvid {
	margin-bottom: 5px;
}

.vidselector li {
	text-align: left;
	list-style: none;
	padding: 5px;
	background: #ffffff;
	border: 1px solid #dedbd1;
	text-transform: uppercase;
	margin-bottom: 5px;
}
input, textarea{
	font-size: 12px;
	padding: 5px 5px;
	background: white;
	border: 1px solid #DDD;
	color: #656565;
}
input[type="radio"]{
	background:#F00;
	width:50px;
}
input[type="submit"], input[type="reset"]{
	
	padding: 5px 10px;
}
input[type="text"], input[type="password"]{
	width:600px;
}
select{	
	font-size: 12px;
	height: 28px;	
	border: 1px solid #ddd;
}
textarea{
    height: 70px;
    padding: 0;
}
td{
	padding:3px 5px;
}
td.anhien{
	text-align: center;
}
#btnChonFile{
	width:100px;
}
.nut_them{
	background:url(../images/bg_leftcolumn.jpg);
	padding:5px;
	color:#FFF;
	border-width:3px;	
	border-style:outset;
}
.an_hien{
	float:left;
}
#thongtin_nhan{
	width:100%;
	float:left;
	margin:10px 0 0 0;
}
#thongtin_nhan #kyten{
	width:200px;
	float:left;
	margin:0 0 0 550px;
	text-align:center;
}

#in_hoa_don,#btnloc, #gui_hoa_don{
	width:70px;
	float:left;
	background:url(../images/table_bg.jpg);
	color:#FFF;
}
#ui-datepicker-div { display: none; }



#dsloaitin #test_nao th, #dsthongke #test_nao th{
	background:none;
	color:#000;
}

#thongtin_nguoinhan tr th{
	background:none;
	color:#000;
}

#dssanpham #idCL, #dssanpham #idLoai{
	padding:3px;
	width:150px;
	line-height:25px;
	height:25px;
	float:left;
	margin:5px 0 0 0;
}
.loi_sanpham{
	color:#F00;
	height:30px;
	line-height:30px;
}
#truyvan{
	margin:0 0 10px 0;
	float:left;
}
#truyvan input[type="button"], #truyvan input[type="submit"]{
	width:70px;
	box-shadow: 10px 10px 5px #888888;
	border-radius:5px;
	margin:5px 0 0 150px;
	cursor:pointer;
}
#home_content{
    width: 800px;
}
#home_content .moduel{
    float:left;
    width:150px;
    margin:20px 0 0 50px;
    text-align: center;
}
.bang tr:hover
{
	background-color:#FFC;
	cursor:pointer;
}
.bang tr
{
	cursor:pointer;
}
.bang input
{
	max-width:100%;
	width: 90%;
}
table, th, td {
   border: 1px solid #fff;
}
.tinhtrang_1,.tinhtrang_1:hover{text-decoration:line-through;opacity:0.3;}
#content {width:100% !important} 
table { table-layout:fixed; }
table tr { height:1em;  }
td { overflow:hidden;white-space:nowrap;  }
.DaDen1{color:forestgreen;font-style:italic;}
.dongle {} 
.dongchan {background-color:#e8e8e8;}
#thanhphantrang{text-align:center;}
#thanhphantrang a {text-decoration:none; padding-left:5px; padding-right:5px; margin-left:5px; margin-right:5px;}
#thanhphantrang span {
  padding-left:5px;
  padding-right:5px;
  margin-left:5px;
  margin-right:5px;
  color:#F00;
  font-size: 24px;
  font-weight: bolder;
}
.smallButton{
  border: 1px solid #cdcdcd;
  padding: 5px 5px;
  display: inline-block;
  background: #f6f6f6;
  margin:0 10px 0 0;
}


@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clock {margin:0 auto; padding:10px 10px 5px 10px; border:1px solid white; color:#fff; background:#006699;width:210px;border-radius:10px;}

#Date { font-family:Verdana, Geneva, sans-serif; font-size:15px; text-align:center; text-shadow:0 0 5px #00c6ff; }

ul {margin:0 auto; padding:0px; list-style:none; text-align:center; }
ul li { display:inline; font-size:2em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

.search_bar input:focus,.search_bar select{
    outline: 0;
}
.search_bar input,.search_bar select{	
	font-size:12px;
	border-radius:10px;	
}
.search_bar input[type="text"]{
	width:100px;
}
.bang{font-size:15px;}
div.ui-datepicker{
 font-size:12px;
}


